.about {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: space-between;

    & .card {
        justify-content: space-between;
        flex-grow: 1;

        & > .content {
            margin-top: 12px;
            font-size: 12px;
            font-weight: 600;
            color: var(--color-neutral-dark);
        }
    }

    & > .project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content repeat(2, min-content);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        & > .description {
            grid-area: 1 / 1 / 2 / 3;
        }

        & .credits {
            grid-area: 2 / 1 / 4 / 2;

            @media screen and (max-width: 480px) {
                & {
                    grid-area: 2 / 1 / 3 / 3;
                }
            }
        }

        & .version {
            grid-area: 2 / 2 / 3 / 3;

            @media screen and (max-width: 480px) {
                & {
                    grid-area: 3 / 1 / 4 / 2;
                }
            }
        }

        .code {
            grid-area: 3 / 2 / 4 / 3;

            @media screen and (max-width: 480px) {
                & {
                    grid-area: 3 / 2 / 4 / 3;
                }
            }
        }

        @media screen and (min-width: 480px) {
            & > .version,
            & > .code {
                & > .content {
                    margin-top: 0px;
                }
            }
        }
    }

    & > .creators {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, min-content);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

        & > .title {
            grid-area: 1 / 1 / 2 / 7;
            margin-block: 0;
            font-size: 14px;
            color: var(--color-neutral-dark);
        }

        & > .ethann {
            grid-area: 2 / 1 / 3 / 3;
        }

        & > .mael {
            grid-area: 2 / 3 / 3 / 5;
        }

        & > .maxence {
            grid-area: 2 / 5 / 3 / 7;
        }

        & > .contact {
            grid-area: 3 / 1 / 4 / 4;
        }

        & > .feedback {
            grid-area: 3 / 4 / 4 / 7;
        }
    }
}
