/* Global rules */

.button {
    position: relative;
    height: 44px;
    border-radius: var(--border-radius);
    cursor: pointer;
    border: none;
    padding: 0 18px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: "Space Grotesk", sans-serif;
    clip-path: inset(0 round var(--border-radius));
    transition: clip-path 0.1s;
}

.button:disabled {
    cursor: not-allowed;
}

.button:not(:disabled):active {
    clip-path: inset(1px round calc(var(--border-radius) - 1px));
}

.button:has(svg) {
    padding-left: 14px;
}

.button.icon-button {
    padding: 0px 14px;
}

.button.loading > * {
    visibility: hidden;
}

.button.loading::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid transparent;
    border-radius: 50%;
    animation: spinner 1s ease infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/* Primary */

.button.primary {
    background-color: var(--color-accent);
    color: var(--color-on-accent);
}

.button.primary:hover {
    background-color: var(--color-accent-dark);
}

.button.primary:disabled {
    background-color: var(--color-neutral-light);
    color: var(--color-neutral-dark);
}

.button.primary.loading::after {
    background-color: var(--color-neutral-light);
    border-top-color: var(--color-neutral-dark);
}

/* Secondary */

.button.secondary {
    background-color: transparent;
    color: var(--color-on-surface);
}

.button.secondary:hover {
    background-color: var(--color-neutral);
}

.button.secondary:disabled {
    color: var(--color-neutral-dark);
    background-color: transparent;
}

.button.secondary.loading::after {
    background-color: transparent;
    border-top-color: var(--color-neutral-dark);
}
